{% load mvp %}
<c-vars title variant="body" :border="True" tray />
<header class="app-header sticky-top">
  <nav class="navbar bg-{{ variant }}">
    <c-container fluid>
      <c-toolbar class="hide-on-mobile hide-btn-text btn-icons"
                 tight
                 row>
        <div>
          <c-button text="{% trans "Toggle site navigation" %}"
                    outline
                    class="hide-on-mobile"
                    icon="menu"
                    data-lte-toggle="sidebar" />
          <a class="navbar-brand ms-2" href="/">{{ request.site.name }}</a>
        </div>
        <c-slot name="actions">
          {{ right }}
        </c-slot>
      </c-toolbar>
      <div class="w-100 show-on-mobile">
        <a class="navbar-brand m-0" href="/">
          <c-logo max-height="1lh" />
        </a>
      </div>
    </c-container>
  </nav>
  {% if not tray|slot_is_empty %}<div class="header-tray">{{ tray }}</div>{% endif %}
</header>
