<c-vars class="bg-body"
        :border="True"
        container_class="container-fluid" />
<nav class="app-header navbar navbar-expand bg-body{% if not border %} border-0{% endif %}{% if tray %} pb-0{% endif %} {{ class }}">
  <div class="{{ container_class }}">
    <ul class="navbar-nav">
      <c-app.sidebar.toggle />
      {{ left }}
    </ul>
    <ul class="navbar-nav ms-auto">
      {{ right }}
    </ul>
  </div>
  {% if tray %}<div class="{{ container_class }}">{{ tray }}</div>{% endif %}
</nav>
