<c-vars label collapse icon icon_class badge badge_class />
{% if collapse %}
  <li>
    <details open>
      <summary>
        {% if icon %}<c-icon name="{{ icon }}" class="{{ icon_class }}" />{% endif %}
        <span>{{ label }}</span>
        {% if badge %}<span class="badge badge-sm ms-auto {{ badge_class }}">{{ badge }}</span>{% endif %}
      </summary>
      <ul>
        {{ slot }}
      </ul>
    </details>
  </li>
{% else %}
  <li></li>
  <li class="menu-title uppercase">
    <span>{{ label }}</span>
  </li>
  {{ slot }}
{% endif %}
