<c-vars form-obj
        method
        action
        renderer="crispy"
        :submit-button="True"
        submit-text="{% trans "Submit" %}"
        form_attrs />
<c-form method="{{ method }}"
        action="{{ action }}"
        :form-obj="False"
        :attrs="form_attrs"
        only>
  <c-card :footer_start="actions">
    {{ before_form }}
    {% if renderer and form_obj %}
      <c-component is="form.{{ renderer }}" />
    {% else %}
      {{ slot }}
    {% endif %}
    {{ after_form }}
  </c-card>
</c-form>
