<c-vars form-obj
        method
        action
        actions
        renderer="crispy"
        :submit-button="True"
        submit-text="{% trans "Submit" %}"
        form_attrs />
<c-form method="{{ method }}"
        action="{{ action }}"
        :form-obj="False"
        :attrs="form_attrs">
  <c-card :attrs="attrs">
    {{ before_form }}
    {% if renderer and form_obj %}
      <c-component is="form.{{ renderer }}" />
    {% else %}
      {{ slot }}
    {% endif %}
    {{ after_form }}
    <c-mvp-toolbar tight only>
      <c-slot name="start">
        {{ form_actions }}
      </c-slot>
    </c-mvp-toolbar>
  </c-card>
</c-form>
