{% comment %} For very simple form fields {% endcomment %}
<c-vars type hide-label label class />
<label class="input rounded-s-md grow {% if hide_label %}sr-only{% endif %}"
       {% if id %}for="{{ id }}"{% endif %}>
  {% if prelabel %}<span class="label">{{ prelabel }}</span>{% endif %}
  {% if type == "textarea" %}
    <textarea class="textarea textarea-bordered w-full {{ class }}" {{ attrs }}>
      {{ slot }}
    </textarea>
  {% else %}
    <input class="grow {{ class }}" {{ attrs }} />
  {% endif %}
  {% if postlabel %}<span class="label">{{ postlabel }}</span>{% endif %}
</label>
