<c-vars parallax
        speed="0.5"
        bg-image=""
        title
        subtitle
        actions
        opacity="0.5"
        height />
<div class="mvp-hero {% if parallax %}parallax{% endif %} {{ class }}"
     data-speed="{{ speed }}"
     data-height="{{ height }}"
     data-image="{{ bg_image }}">
  {% if opacity %}<c-components.backdrop opacity="{{ opacity }}" />{% endif %}
  <div class="flex-center flex-column p-1 p-md-5 position-relative">
    {{ top }}
    {% if subtitle %}<span class="text-uppercase text-white w-bold">{{ subtitle }}</span>{% endif %}
    <h1 class="mb-3 mt-2 fw-bold">{{ title }}</h1>
    {% if lead %}<p class="lead">{{ lead }}</p>{% endif %}
    {% if actions %}
      <c-group class="justify-content-center pt-4">
        {{ actions }}
      </c-group>
    {% endif %}
    {{ bottom }}
  </div>
</div>
