<!-- ── Page Title Section ───────────────────────── -->
<header class="w-100">
  <!-- Caption -->
  {% if caption %}
    <c-text class="page-header-caption mb-1">
      {{ caption }}
    </c-text>
  {% endif %}
  <!-- Title + Actions row -->
  <c-toolbar row="md" :attrs="attrs">
    <h1 class="fs-2">
      {% if icon %}<c-icon name="{{ icon }}" />{% endif %}
      {{ title }}
    </h1>
  </c-toolbar>
  <!-- Subtitle / Lead -->
  {% if subtitle %}
    <c-text impact tight>
      {{ subtitle }}
    </c-text>
  {% endif %}
</header>
