<c-vars parallax
        speed="0.5"
        bg-image=""
        title
        subtitle
        actions
        opacity="0.5"
        height />
<div class="mvp-hero {% if parallax %}parallax{% endif %} {{ class }}"
     data-speed="{{ speed }}"
     data-height="{{ height }}"
     data-image="{{ bg_image }}">
  {% if opacity %}<c-backdrop opacity="{{ opacity }}" />{% endif %}
  <div class="flex flex-col">
    {{ top }}
    <h1 class="text-5xl mb-6 font-bold">{{ title }}</h1>
    {% if subtitle %}
      <c-text size="xl">
        {{ subtitle }}
      </c-text>
    {% endif %}
    {% if actions %}
      <c-group justify="center" class="pt-4">
        {{ actions }}
      </c-group>
    {% endif %}
    {{ bottom }}
  </div>
</div>
