<c-vars title
        icon
        icon_class=""
        variant="default"
        fill="outline"
        class />
<c-card.wrapper :attrs="attrs">
  {% if header %}
    {{ header }}
  {% elif title %}
    <c-mvp-toolbar :title="title"
                   level="5"
                   :icon="icon"
                   relaxed
                   class="card-header">
      {% if actions %}
        <c-action-row>
          {{ actions }}
        </c-action-row>
      {% endif %}
    </c-mvp-toolbar>
  {% endif %}
  <c-card.body>
    {{ slot }}
  </c-card.body>
  {% if footer_start or footer_end %}
    <c-mvp-toolbar class="card-footer" relaxed :start="footer_start">
      {{ footer_end }}
    </c-mvp-toolbar>
  {% elif footer %}
    {{ footer }}
  {% endif %}
</c-card.wrapper>
