<c-vars title
        icon
        variant="default"
        fill="outline"
        footer-start
        class />
<div class="card layout {% if fill == "card" %}text-bg-{{ variant }}{% else %}card-{{ variant }}{% endif %}{% if fill == "outline" %} card-outline{% endif %}{% if collapsible and collapsed %} collapsed-card{% endif %} {{ class }}">
  {% if header %}
    {{ header }}
  {% elif title %}
    <c-card.header :title="title"
                   :icon="icon"
                   :actions="widgets"
                   only />
  {% endif %}
  <c-card.body>
    {{ slot }}
  </c-card.body>
  {% if footer_start or footer_end %}
    <c-card.footer :actions="footer_end" only>
      {{ footer_start }}
    </c-card.footer>
  {% endif %}
</div>
