{% load mvp %}
<c-vars page text active disabled size class />
{% if disabled %}
  <button class="join-item btn {% variation size "btn" "sm,md,lg" %} btn-disabled {{ class }}"
          aria-disabled="true"
          tabindex="-1"
          {{ attrs }}>
    {% if slot %}
      {{ slot }}
    {% else %}
      {{ text }}
    {% endif %}
  </button>
{% else %}
  <a class="join-item btn {% variation size "btn" "sm,md,lg" %}{% if active %} btn-active{% endif %} {{ class }}"
     href="?{{ page_param|default:"page" }}={{ page }}"
     {% if active %}aria-current="page"{% endif %}
     {{ attrs }}>
    {% if slot %}
      {{ slot }}
    {% else %}
      {{ text }}
    {% endif %}
  </a>
{% endif %}
