{% extends "mvp/landing.html" %}
{% load i18n mvp %}
{% block page.header %}
  <c-slot name="header">
    <c-mvp.hero title="Build production-ready Django apps fast"
                lead="A comprehensive framework with layouts, components, and ready-to-use views — so you can focus on your business logic."
                parallax
                height="75vh"
                backdrop="0">
      <c-slot name="top">
        <img src="{% logo_url "md" %}"
             class="img-fluid w-50 mb-3" />
      </c-slot>
    </c-mvp.hero>
  </c-slot>
{% endblock page.header %}
