{% extends "detail_view.html" %}
{% load i18n %}
{% block page.actions %}
  {% if directory.list_url %}
    <c-button href="{{ directory.list_url }}"
              text="{% trans 'Back to list' %}"
              icon="arrow-left"
              size="sm"
              variant="ghost" />
  {% endif %}
  {% if directory.update_url %}
    <c-button href="{{ directory.update_url }}"
              text="{% trans 'Edit' %}"
              icon="pencil"
              size="sm"
              variant="primary" />
  {% endif %}
  {% if directory.delete_url %}
    <c-button href="{{ directory.delete_url }}"
              text="{% trans 'Delete' %}"
              icon="trash"
              size="sm"
              variant="error" />
  {% endif %}
{% endblock page.actions %}
{% block page.content %}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div>
      <dl class="space-y-3">
        <dt class="font-semibold">{% trans "Name" %}</dt>
        <dd>
          {{ object.name }}
        </dd>
        <dt class="font-semibold">{% trans "Category" %}</dt>
        <dd>
          {{ object.category }}
        </dd>
        <dt class="font-semibold">{% trans "Price" %}</dt>
        <dd>
          ${{ object.price }}
        </dd>
        <dt class="font-semibold">{% trans "Stock" %}</dt>
        <dd>
          {{ object.stock }}
        </dd>
        <dt class="font-semibold">{% trans "Status" %}</dt>
        <dd>
          {{ object.get_status_display }}
        </dd>
      </dl>
    </div>
    <div>
      <p class="text-base-content/60">{{ object.description }}</p>
    </div>
  </div>
{% endblock page.content %}
