{% load i18n mvp %}
<c-vars id breakpoint />
{% firstof breakpoint mvp_config.layout.sidebar.breakpoint "lg" as bp %}
<div id="{{ id }}"
     class="drawer {% sidebar_breakpoint_class bp %}"
     x-data="{ open: $persist(window.matchMedia('(min-width: {% breakpoint_px bp %}px)').matches).as('{{ id }}-drawer-open') }"
     {{ attrs }}>
  <input id="{{ id }}-toggle"
         type="checkbox"
         x-model="open"
         class="drawer-toggle" />
  <div class="drawer-side is-drawer-close:overflow-visible z-40">
    <label for="{{ id }}-toggle"
           aria-label="{% trans "Close sidebar" %}"
           class="drawer-overlay"></label>
    {{ sidebar }}
  </div>
  <div class="drawer-content">{{ slot }}</div>
</div>
