<c-vars name=""
        timestamp=""
        text=""
        image=""
        align="start" />
<div class="chat chat-{{ align }}">
  {% if image %}
    <div class="chat-image avatar">
      <div class="w-10 rounded-full">
        <img src="{{ image }}" alt="{{ name }}" />
      </div>
    </div>
  {% endif %}
  <div class="chat-header">
    {{ name }}
    {% if timestamp %}<time class="text-xs opacity-50 ml-1">{{ timestamp }}</time>{% endif %}
  </div>
  <div class="chat-bubble">{{ text }}{{ slot }}</div>
</div>
