<c-vars heading
        text
        variant="default"
        icon
        icon_class=""
        link
        link_text="More info"
        link_icon="link"
        class />
<div class="small-box text-bg-{{ variant }} {{ class }}">
  <div class="inner">
    <h3>{{ heading }}</h3>
    <p>{{ text }}</p>
  </div>
  <c-icon name="{{ icon }}"
          class="small-box-icon {{ icon_class }}" />
  {% if link %}
    <a href="{{ link }}"
       class="small-box-footer stretched-link link-light link-underline-opacity-0 link-underline-opacity-50-hover">
      {{ link_text }}
      <c-icon name="{{ link_icon }}" />
    </a>
  {% endif %}
</div>
