<c-vars heading
        text
        variant="primary"
        icon
        icon_class=""
        link
        link_text="More info"
        link_icon="link"
        class />
<div class="stats shadow {{ class }}">
  <div class="stat bg-{{ variant }} text-{{ variant }}-content">
    {% if icon %}
      <div class="stat-figure">
        <c-icon name="{{ icon }}"
                class="text-3xl {{ icon_class }}" />
      </div>
    {% endif %}
    <div class="stat-title opacity-70">{{ text }}</div>
    <div class="stat-value">{{ heading }}</div>
    {% if link %}
      <div class="stat-actions">
        <a href="{{ link }}" class="btn btn-sm btn-ghost">
          {{ link_text }}
          <c-icon name="{{ link_icon }}" />
        </a>
      </div>
    {% endif %}
  </div>
</div>
