// Overrides for AdminLTE 4 app layout system
// WRAPPER
.app-wrapper.fill {
  height: 100vh;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / old Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, new Edge */
  }

  .app-main {
    min-height: 0;
    overflow: auto;
  }

  .page-content {
    min-height: 0;
    overflow: auto;
  }

  .sidebar-wrapper {
    overflow-y: visible;
    height: auto;
  }
}

// ------- HEADER -------
.app-header {
  @extend .bg-body;
  flex-wrap: wrap;

  &:has(> .header-tray) {
    .navbar {
      padding-bottom: 0;
    }
  }

  .header-tray {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
  }
}

// ------- FOOTER -------
.app-footer {
  @extend .bg-body;
  padding-bottom: env(safe-area-inset-bottom, 0) !important;
  padding: 0;
  min-height: 0;
}
