// styles overrides for elements containing *-default class
// e.g. <button class="btn btn-default">
// Default classes exist when no variant is specified
.btn-default {
  box-shadow: none;
  color: var(--bs-gray-700);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--bs-gray-200);
    border-color: var(--bs-gray-300);
  }

  &:first-child:active {
    background-color: var(--bs-gray-300);
    border-color: var(--bs-gray-400);
  }
}

.btn-outline-default {
  @extend .btn-default;
  border-color: var(--bs-light-border-subtle);
}
