.card {
  overflow: hidden;

  h1 {
    @extend .h2;
  }

  &.card-tight {
    .card-body {
      padding: 0;
    }
  }
}
.card-header,
.card-footer {
  background-color: transparent;
}

.card-header {
  .btn {
    @extend .btn-sm;
  }
  &::after {
    display: none; // clearfix not needed in flex context
  }
}
