  fieldset {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  fieldset:last-of-type {
    border: 0;
  }

  fieldset legend {
    padding: 0;
  }