.mobile-footer-nav {
  padding-bottom: env(safe-area-inset-bottom, 0);
  position: sticky;
  bottom: 0;
  z-index: 1030;
  grid-area: lte-app-footer;

  .nav-link {
    border-bottom: 0;
    border-top: var(--bs-nav-underline-border-width) solid transparent;
    font-size: x-large;
    padding: 0;

    .btn-text {
      display: none !important;
    }

    &.active,
    &:hover {
      --bs-emphasis-color: $primary;
      border-top-color: $primary;
    }
  }
}

.nav.nav-underline.border-top {
  .nav-link {
    border-bottom: 0;
    border-top: var(--bs-nav-underline-border-width) solid transparent;
  }
}
