.breadcrumb {
  margin-bottom: 0;
}

.hide-btn-text {
  .show-btn-text {
    .btn-text {
      display: inline !important;
    }
  }
  .btn-text {
    display: none;
  }
}

.bi {
  vertical-align: middle;
}

html[data-bs-theme="dark"] {
  .dark-theme-only {
    display: block;
  }
}

html[data-bs-theme="light"] {
  .light-theme-only {
    display: block;
  }
}

.card-title {
  float: none;
  margin-bottom: var(--bs-card-title-spacer-y);
}

// remove default margin-bottom from bs5 pagination component
.pagination {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
