:root {
  // --bs-emphasis-color-rgb: 23, 16, 160;
  color: rgb(255, 244, 84);
  // --bs-primary-rgb: 100, 110, 253;
  // --bs-primary-rgb: 58, 0, 152;
  // --bs-warning-rgb: 58, 0, 152;
}

.app-sidebar {
  --mvp-sidebar-opacity: 1;
  --mvp-sidebar-bg-color: rgba(
    var(--bs-secondary-bg-rgb),
    var(--bs-bg-opacity)
  );
  background-color: var(--mvp-sidebar-bg-color);
}

.breadcrumb {
  margin-bottom: 0;
}



.hide-btn-text {
  .show-btn-text {
    .btn-text {
      display: inline !important;
    }
  }
  .btn-text {
    display: none;
  }
}

.bi {
    vertical-align: middle;
}

.bg-rating-scale {
    --rating: 50;
    background-color: hsl(var(--rating), 70%, 30%);
}


html[data-bs-theme="dark"] {
  .dark-theme-only {
    display: block;
  }
  
}

html[data-bs-theme="light"] {
  .light-theme-only {
    display: block;
  }
}