// Extra utilities not included in adminlte4

.sidebar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    /* stylelint-disable-next-line scss/selector-no-union-class-name */
    &#{$infix} {
      // Desktop mode (at or above the sidebar breakpoint)
      @include media-breakpoint-up($next) {
        .hide-on-desktop,
        .show-on-mobile {
          display: none !important;
        }
      }

      // Mobile mode (below the sidebar breakpoint)
      @include media-breakpoint-down($next) {
        .hide-on-mobile,
        .show-on-desktop {
          display: none !important;
        }
      }
    }
  }
}
