{% extends "page_view.html" %}
{% load crispy_forms_tags i18n %}
{% block head %}
  {{ block.super }}
  {{ form.media }}
{% endblock head %}
{% block page.content %}
  <c-dashboard>
    <c-section>
      <c-form method="post">
        <div class="row justify-content-center">
          <div class="col">
            {% block form_col %}
              <c-card.simple>
                {{ form|crispy }}
              </c-card.simple>
            {% endblock form_col %}
          </div>
          <div class="col-12 col-md-3">
            <div class="d-flex flex-column gap-2">
              {% block actions %}
                <c-button text="{% trans "Save" %}"
                          type="submit"
                          name="next"
                          value="list"
                          variant="primary" />
                <c-button text="{% trans "Save & view" %}"
                          type="submit"
                          name="next"
                          value="detail"
                          variant="primary"
                          outline />
                <c-button text="{% trans "Save & add another" %}"
                          type="submit"
                          name="next"
                          value="create"
                          variant="primary"
                          outline />
                <c-button text="{% trans "Save & continue editing" %}"
                          type="submit"
                          name="next"
                          value="update"
                          variant="primary"
                          outline />
                {% if object %}
                  <c-button text="{% trans "Delete" %}"
                            href="{{ delete_url }}"
                            icon="delete"
                            variant="danger" />
                {% endif %}
              {% endblock actions %}
            </div>
          </div>
        </div>
      </c-form>
    </c-section>
  </c-dashboard>
{% endblock page.content %}
{% block extra_js %}
  {{ form.media.js }}
{% endblock extra_js %}
