{% extends "base.html" %}
{% load i18n %}
{% block title %}
  {{ page.title }}
{% endblock title %}
{% block content %}
  <c-page class="{{ page.class }} mb-5">
    {% block page.header %}
      <c-slot name="header">
        <c-container>
          <c-mvp-toolbar>
            {% block page.breadcrumbs %}
              <c-breadcrumbs class="py-1" :items="page.breadcrumbs" />
            {% endblock page.breadcrumbs %}
          </c-mvp-toolbar>
        </c-container>
      </c-slot>
    {% endblock page.header %}
    {% block page.content-wrapper %}
      <c-page.content>
        <c-container>
          <c-vstack gap=2>
            {% block page.stack %}
              {% block page.title %}
                <c-card variant="primary">
                  {% comment %} <c-slot name="header"> {% endcomment %}
                  <div class="px-3 py-3">
                    <c-page.title :attrs="page">
                      <c-slot name="actions">
                        {% block page.actions %}
                        {% endblock page.actions %}
                      </c-slot>
                    </c-page.title>
                  </div>
                  {% block page.title.below %}
                  {% endblock page.title.below %}
                </c-card>
                {% comment %} </c-slot> {% endcomment %}
              {% endblock page.title %}
              {% block page.content %}
                {% trans "Coming soon..." %}
              {% endblock page.content %}
            {% endblock page.stack %}
          </c-vstack>
        </c-container>
      </c-page.content>
    {% endblock page.content-wrapper %}
  </c-page>
{% endblock content %}
