{# @description The link a mounted app's sidebar opens with, back to the host project's home page. #}
{# @prop url:text | default:"/" | description:"The URL the back link points to." #}
{% load i18n %}
<c-vars url="/" />
{% firstof mvp_config.site_name request.site.name as site_name %}
{% if site_name %}
  {% blocktranslate asvar label %}Back to {{ site_name }}{% endblocktranslate %}
{% else %}
  {% translate "Back" as label %}
{% endif %}
<c-menu class="w-full pb-0" only>
  <c-menu.item :href="url"
               icon="arrow-left"
               class="is-drawer-close:tooltip is-drawer-close:tooltip-right"
               data-tip="{{ label }}"
               aria-label="{{ label }}"
               data-back-link
               only>
    <span>{{ label }}</span>
  </c-menu.item>
</c-menu>
