{% load flex_menu %}
<c-vars brand_text
        brand_logo
        brand_icon
        brand_url="/"
        class
        menu="AppMenu"
        renderer="adminlte" />
<aside class="app-sidebar shadow {{ class }}"
       data-bs-theme="dark">
  <c-app.sidebar.header text="{{ brand_text }}"
                        icon="{{ brand_icon }}"
                        logo="{{ brand_logo }}"
                        link="{{ brand_url }}" />
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      {% if slot %}
        {{ slot }}
      {% else %}
        {% render_menu menu renderer=renderer %}
      {% endif %}
    </nav>
  </div>
</aside>
<div class="sidebar-overlay"
     data-lte-toggle="sidebar"
     data-lte-dismiss="sidebar-menu"></div>
