<c-card class="h-100 position-relative">
  <c-card.header title="{{ product.name }}">
    <c-badge variant="{{ product.stock_status|yesno:'danger,warning,success' }}">
      {% if product.stock_status == 'out_of_stock' %}
        Out of Stock
      {% elif product.stock_status == 'low_stock' %}
        Low Stock
      {% else %}
        In Stock
      {% endif %}
    </c-badge>
    <c-button href="{% url "product-delete" pk=object.pk %}"
              icon="delete" />
  </c-card.header>
  <c-text small tight>
    {{ product.sku }}
  </c-text>
  <h5 class="card-title">{{ product.name }}</h5>
  <div class="mb-2 overflow-hidden" style="height: 5lh;">
    {% if not product.description %}
      {{ product.description|truncatewords:30 }}
    {% else %}
      {% lorem 1 b random %}
    {% endif %}
  </div>
  <div class="mb-2">
    {% for tag in product.tag_list %}<span class="badge text-secondary border me-1">#{{ tag }}</span>{% endfor %}
  </div>
  <div class="d-flex align-items-center gap-3 mt-2">
    {% if product.rating %}
      <span class="ms-2 text-warning">
        <i class="bi bi-star-fill"></i> {{ product.rating }}
      </span>
    {% endif %}
  </div>
  <c-slot name="footer_start">
    <span class="fw-bold text-primary fs-5">${{ product.price }}</span>
    <c-button text="View" size="sm" icon="arrow-right" reverse />
  </c-slot>
</c-card>
