{% extends "page_view.html" %}
{% load static mvp %}
{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/parallaxx-js/dist/parallax.css" />
{% endblock extra_css %}
{% block extra_js %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/parallaxx-js/dist/parallax.js"></script>
{% endblock extra_js %}
{% block content %}
  <c-page class="{{ page.class }}">
    <div class="mvp-header">
      {% block page.hero %}
      {% endblock page.hero %}
    </div>
    {% block page.content-wrapper %}
      <c-page.content center gap=3 class="py-4">
        <c-vstack gap=3>
          {% block page.content %}
          {% endblock page.content %}
        </c-vstack>
      </c-page.content>
    {% endblock page.content-wrapper %}
    <c-page.toolbar bottom>
      {% block page.footer %}
      {% endblock page.footer %}
    </c-page.toolbar>
  </c-page>
{% endblock content %}
