{% load i18n %}
<c-dropdown>
  <c-slot name="button">
    <c-button id="bd-theme"
              aria-label="{% trans "Toggle color scheme" %}"
              data-bs-toggle="dropdown"
              aria-expanded="false">
      <c-icon name="theme.light" data-lte-theme-icon="light" />
      <c-icon name="theme.dark" data-lte-theme-icon="dark" />
      <c-icon name="theme.auto" data-lte-theme-icon="auto" />
    </c-button>
  </c-slot>
  <c-dropdown.item text="{% trans "Light" %}"
                   icon="theme.light"
                   data-bs-theme-value="light"
                   aria-pressed="false">
    <c-icon name="check" class="ms-auto d-none" />
  </c-dropdown.item>
  <c-dropdown.item text="{% trans "Dark" %}"
                   icon="theme.dark"
                   data-bs-theme-value="dark"
                   aria-pressed="false">
    <c-icon name="check" class="ms-auto d-none" />
  </c-dropdown.item>
  <c-dropdown.item text="{% trans "Auto" %}"
                   icon="theme.auto"
                   data-bs-theme-value="auto"
                   aria-pressed="false">
    <c-icon name="check" class="ms-auto d-none" />
  </c-dropdown.item>
</c-dropdown>
