<c-vars card="non-existent-card-template.html" />
<c-row {{ attrs }}>
  {% for object in object_list %}
    <div class="col">{% include card %}</div>
  {% empty %}
    <c-list.empty-state />
  {% endfor %}
</c-row>
{% comment %} <!-- Pagination -->
<c-list.pagination :is_paginated="is_paginated"
                   :page_obj="page_obj"
                   :request="request" />
<!-- Results Summary -->
<c-list.results-summary :is_paginated="is_paginated"
                        :page_obj="page_obj"
                        :object_list="object_list" /> {% endcomment %}
