<c-vars placeholder="{% trans "Search" %}"
        label="{% trans "Search" %}" />
{% if is_searchable %}
  <div class="input-group mvp-action-group-grow"
       style="min-width: 300px">
    <span class="input-group-text border-end-0">
      <c-icon name="search" />
    </span>
    <input type="text"
           name="q"
           form="filterForm"
           class="form-control border-start-0 search-field desktop-search"
           placeholder="{{ placeholder }}"
           value="{{ search_query|default:'' }}"
           aria-label="{{ placeholder }}" />
  </div>
{% endif %}
