<c-list.search-widget />
<c-list.order-widget />
{% if filter %}
  <c-button text="{% trans "Filter" %}"
            icon="filter"
            data-bs-target="#filterModal"
            data-bs-toggle="modal" />
{% endif %}
{% if directory.create_url and create_form %}
  <c-button text="{% trans "Add new" %}"
            icon="add"
            data-bs-toggle="modal"
            data-bs-target="#createModal" />
{% elif directory.create_url %}
  <c-button text="{% trans "Add new" %}"
            icon="add"
            href="{{ directory.create_url }}" />
{% endif %}
