{% load i18n %}

<c-vars url="{{ request.build_absolute_uri }}"
        title="{{ page.title|default:'' }}"
        description="{{ page.meta_description|default:'' }}"
        class />
<c-dropdown id="shareDropdown"
            class="{{ class }}"
            text="{% trans "Share" %}"
            :caret="False"
            icon="share">
  <c-dropdown.header text="{% trans "Share this page" %}" />
  <c-dropdown.item href="https://www.facebook.com/sharer/sharer.php?u={{ url|urlencode }}"
                   icon="facebook"
                   text="Facebook"
                   target="_blank"
                   rel="noopener noreferrer" />
  <c-dropdown.item href="https://twitter.com/intent/tweet?text={{ title|add:" "|add:url|urlencode }}"
                   icon="twitter"
                   text="Twitter"
                   target="_blank"
                   rel="noopener noreferrer" />
  <c-dropdown.item href="https://www.reddit.com/submit?title={{ title|urlencode }}&url={{ url|urlencode }}"
                   icon="reddit"
                   text="Reddit"
                   target="_blank"
                   rel="noopener noreferrer" />
  <c-dropdown.item href="https://www.pinterest.com/pin/create/button/?url={{ url|urlencode }}"
                   icon="pinterest"
                   text="Pinterest"
                   target="_blank"
                   rel="noopener noreferrer" />
  <c-dropdown.item href="mailto:?subject={{ title|urlencode }}&body={{ description|add:" "|add:url|urlencode }}"
                   icon="email"
                   text="Email" />
  <c-dropdown.item icon="copy-link"
                   href="#"
                   onclick="navigator.clipboard.writeText(window.location.href); this.textContent='Copied!'; setTimeout(() => this.textContent='Copy Link', 2000); return false;"
                   text="Copy Link" />
  </c-dropdown>
